*{
    margin: 0px;
    padding: 0px;
}
h2{
    margin: 10px;
}
h4{
    margin-top: 10px;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    margin: 20px;
}
.rnd {
    margin: 20px;
    margin-left: 0px;
}
#name{
    height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #5E5DF0;
}
.btn
 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.main-img, .displayName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayName {
    margin-left: 50px;
}